ИГРА ОКОНЧЕНА!<br>
{% if winner == "civilians" %}
Победили мирные жители!
{% else %}
Победила мафия!
{% endif %}
<br><br>
{% for player in players %}
<a href="tg://user?id={{ player.id }}">{{ player.name }}</a> — {{ player.role.value }}<br>
{% endfor %}
